.navpopup {
  position: absolute;
  z-index: 2;
  width: 100%;
  background-color: #1a1b22;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.navpopup__overlay {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  background: #000;
  opacity: 0.5;
  z-index: 2;
}

.navpopup__hidden {
  display: none;
}

.navpopup__container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}
.navpopup__title {
  font-style: normal;
  font-family: "RobotoSlab", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  padding: 0;
  margin-top: 16px;
  color: #fff;
}
.navpopup__close {
  margin-top: 16px;
  border: none;
  width: 24px;
  height: 24px;
  object-fit: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center;
  background-image: url("../../images/close.png");
}
.navpopup__box {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 24px;
}
.navpopup__link {
  text-decoration: none;
}
.navpopup__icon {
  background-color: transparent;
  width: 24px;
  height: 24px;
}

.navpopup__place {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 56px;
  color: #fff;
}
.navpopup__button {
  background-color: transparent;
  margin-top: 22px;

  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #fff;
  padding: 12px;
  width: 100%;
  height: 44px;
  border: 1px solid #fff;
  box-sizing: border-box;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
