@import url("../vendor/normalize.css");
@import url("../vendor/font/font.css");

.app {
  width: 100%;
  position: relative;
  font-family: "Roboto", "Inter", "Arial", sans-serif;
}

*:focus {
  outline: none;
}

.link {
  text-decoration: none;
}

.overlay {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  background: #000;
  opacity: 0.5;
  z-index: 2;
}

.hidden {
  display: none;
}
