.about {
  background-color: #fff;
  color: #1a1b22;
  padding-top: 80px;
  padding-bottom: 80px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.about__img {
  width: 464px;
  height: 464px;
  border-radius: 100%;
  object-fit: cover;
  margin-right: 56px;
  margin-left: 104px;
}

.about__text-box {
  width: 600px;
}

.about__title {
  margin-top: 50px;
  font-family: "RobotoSlab";
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 46px;
}

.about__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  padding: 0;
  margin: 0;
  margin-top: 24px;
}

@media screen and (min-width: 481px) and (max-width: 1023px) {
  .about {
    background-color: #fff;
    color: #1a1b22;
    padding-top: 41px;
    padding-bottom: 61px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
  }

  .about__img {
    width: 232px;
    height: 232px;
    border-radius: 100%;
    object-fit: cover;
    margin-top: 20px;
    margin-right: 32px;
    margin-left: 40px;
  }

  .about__text-box {
    width: 424px;
  }

  .about__title {
    margin-top: 0;
    font-family: "RobotoSlab";
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 40px;
  }

  .about__text {
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    padding: 0;
    margin: 0;
    margin-top: 16px;
  }
}

@media screen and (max-width: 480px) {
  .about {
    background-color: #fff;
    color: #1a1b22;
    padding-top: 32px;
    padding-bottom: 148px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .about__img {
    width: 232px;
    height: 232px;
    border-radius: 100%;
    object-fit: cover;
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .about__text-box {
    width: 90%;
    align-self: center;
    margin-right: auto;
    margin-left: auto;
  }

  .about__title {
    margin: 24px 0 0 0;
    padding: 0;
    font-family: "RobotoSlab";
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 40px;
  }

  .about__text {
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    padding: 0;
    margin: 0;
    margin-top: 16px;
  }
}
