.nav {
  width: 100%;
  height: 80px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.nav-signin {
  box-shadow: inset 0px -1px 0px #d1d2d6;
}
.nav__container {
  width: 95%;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}
.nav__title {
  font-style: normal;
  font-family: "RobotoSlab";
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  padding: 0;
  margin-top: 30px;
  color: #fff;
}

.nav__box {
  display: flex;
  justify-content: space-between;
}

.nav__place-box {
  display: flex;
}

.nav__place {
  margin-top: 30px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  padding-bottom: 23px;
  border-bottom: 3px solid #ffffff;

  color: #fff;
}

.nav__place:hover {
  cursor: pointer;
}

.nav__signin {
  margin-top: 19px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #fff;
  padding: 12px;
  width: 152px;
  height: 48px;
  margin-left: 42px;
  border: 1px solid #fff;
  box-sizing: border-box;
  border-radius: 100px;
}

.nav__signin:hover {
  cursor: pointer;
}

.nav__login {
  color: #1a1b22;
}

.nav__signined {
  color: #1a1b22;
  border: 1px solid #1a1b22;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__login-text {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  margin-right: 15px;
}

.nav__icon {
  background-color: #fff;
  width: 24px;
  height: 24px;
}

.nav__place-select {
  margin-top: 30px;
  margin-left: 76px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  padding-bottom: 23px;
  border-bottom: 3px solid #1a1b22;
  color: #1a1b22;
}
