.search {
  margin-top: 88px;
  margin-right: auto;
  margin-left: auto;
  width: 608px;
  height: 64px;
  background-color: #fff;
  border: 1px solid #d1d2d6;
  box-sizing: border-box;
  border-radius: 100px;
  position: relative;
}

@supports (
  (-webkit-backdrop-filter: blur(8px)) or (backdrop-filter: blur(8px))
) {
  .search {
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
  }
}
.search__input {
  width: 376px;
  height: 22px;
  position: absolute;
  top: 20px;
  left: 21px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #1a1b22;
  border: none;
}

.search__input::placeholder {
  color: #b6bcbf;
}

.search__input:-ms-input-placeholder {
  color: #b6bcbf;
}

.search__input::-ms-input-placeholder {
  color: #b6bcbf;
}
.search__button {
  width: 168px;
  background: #2f71e5;
  border: 0;
  box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
  border-radius: 100px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  padding-top: 19px;
  padding-bottom: 19px;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  color: #fff;
}

.search__button:hover {
  background: #347eff;
  cursor: pointer;
}

.search__button:active {
  background: #2a65cc;
}

@media screen and (min-width: 481px) and (max-width: 1023px) {
  .search {
    margin-top: 49px;
    margin-bottom: 56px;
    margin-right: auto;
    margin-left: auto;
    width: 448px;
    height: 56px;
    background-color: #fff;
    border: 1px solid #d1d2d6;
    box-sizing: border-box;
    border-radius: 100px;
    position: relative;
  }

  .search__input {
    width: 228px;
    height: 22px;
    position: absolute;
    top: 17px;
    left: 24px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #1a1b22;
    border: none;
  }

  .search__input::placeholder {
    color: #b6bcbf;
  }

  .search__input:-ms-input-placeholder {
    color: #b6bcbf;
  }

  .search__input::-ms-input-placeholder {
    color: #b6bcbf;
  }
  .search__button {
    width: 160px;
    background: #2f71e5;
    border: 0;
    box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
    border-radius: 100px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    padding-top: 16px;
    padding-bottom: 16px;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    color: #fff;
  }

  .search__button:hover {
    background: #347eff;
    cursor: pointer;
  }
}
@media screen and (max-width: 480px) {
  .search {
    margin-top: 122px;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
    width: 90%;
    height: 56px;
    background-color: #fff;
    border: 1px solid #d1d2d6;
    box-sizing: border-box;
    border-radius: 100px;
    position: relative;
  }

  .search__input {
    width: 80%;
    height: 22px;
    position: absolute;
    top: 17px;
    left: 16px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #1a1b22;
    border: none;
  }

  .search__input::placeholder {
    color: #b6bcbf;
  }

  .search__input:-ms-input-placeholder {
    color: #b6bcbf;
  }

  .search__input::-ms-input-placeholder {
    color: #b6bcbf;
  }
  .search__button {
    width: 100%;
    background: #2f71e5;
    border: 0;
    height: 56px;
    box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
    border-radius: 100px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    position: absolute;
    top: 72px;
    left: 0;
    color: #fff;
  }

  .search__button:hover {
    background: #347eff;
    cursor: pointer;
  }
}
