.newscardlist {
  border: solid blue;
  padding-top: 64px;
  padding-bottom: 64px;
  width: 100%;
  background-color: #f5f6f7;
}

.newscardlist__container {
  border: solid red;
  width: 86%;
  margin-right: auto;
  margin-left: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 16px;
  list-style: none;
  padding: 0;
}
@media screen and (min-width: 751px) and (max-width: 1023px) {
  .newscardlist {
    padding-top: 32px;
    padding-bottom: 22px;
    width: 100%;
    background-color: #f5f6f7;
  }

  .newscardlist__container {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style: none;
    padding: 0;
    column-gap: 7px;
    row-gap: 6px;
  }
}

@media screen and (min-width: 521px) and (max-width: 750px) {
  .newscardlist {
    padding-top: 32px;
    padding-bottom: 22px;
    width: 100%;
    background-color: #f5f6f7;
  }

  .newscardlist__container {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
    padding: 0;
    column-gap: 7px;
    row-gap: 6px;
  }
}

@media screen and (max-width: 520px) {
  .newscardlist {
    padding-top: 64px;
    padding-bottom: 9px;
    width: 100%;
    background-color: #f5f6f7;
    margin: 0;
  }

  .newscardlist__container {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    grid-template-columns: 1fr;
    column-gap: 0;
    row-gap: 9px;
    list-style: none;
    padding: 0;
  }
}
