.signin__input {
  width: 100%;
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-top: 9px;
}

.signin__input::placeholder {
  color: rgba(0, 0, 0, 0.2);
}

.signin__input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.2);
}

.signin__input::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.2);
}

.signin__input-title {
  margin: 30px 0 0 0;
  padding: 0;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;

  color: #2f71e5;
}

.signin__input-err {
  padding: 0;
  margin: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;

  color: #ff0000;
}

.signin__button {
  width: 100%;
  background: #2f71e5;
  box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
  border: none;
  border-radius: 100px;
  margin-top: 39px;
}

.signin__button-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}

.signin__button-diable {
  width: 100%;
  box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
  border: none;
  margin-top: 39px;
  background: #e6e8eb;
  border-radius: 100px;
  outline: none;
}

.signin__button-text-disable {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #b6bcbf;
}

@media screen and (max-width: 480px) {
  .signin__button {
    margin-top: 23px;
  }
}
